.container {
    background-color: var (--yellow);

}

.cont__Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.input__title{
    border-radius: 0.5rem;
    width: 70%;
    margin: 0 auto;
    border: 0.1rem solid var(--green0);
    padding: 0.7rem 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.input__description{
    border-radius: 0.5rem;
    width: 70%;
    margin: 0 auto;
    border: 0.1rem solid var(--green0);
    padding: 0.7rem 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    height: 8rem;
}
.buttonAdd{
    width:10rem;
    padding: 0.8rem 0.4rem;
    background:var(--green1);
    color:aliceblue;
    border-radius:0.5rem;
    border: none;
    font-weight: 600;
    
}

