
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --green0:#386641;
    --green1: #1B5426;
    --yellow:#D8F88E;
    --pink0:#FFB5D0;
    --pink1:#DF467D;
    --white:#fff;
}
html{
    font-size: 62.5%;
    
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }